$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1600px;

$imgBase: '../images/';

$transition-time: .3s;
$transition-time-long: .8s;

$font-inter: 'Inter',
sans-serif;
$font-montserrat: 'Montserrat',
sans-serif;

$blue: #366EFF;
$red: #FE4954;