<form class="email jsEmailForm">
  <div class="form__block">
    <input autofocus="autofocus" type="email" name="email" placeholder="Email"/>
  </div>
  <div class="form__actions">
    <button disabled="disabled" type="submit" class="button">Confirm</button>
  </div>
</form>