<div class="modal jsModal">
  <dialog class="modal__dialog">
    <a href="" data-close="data-close" class="modal__close"></a>
    <h2 class="modal__title">We will send you an email with&nbsp;the test results</h2>
    <div class="modal__text">
      <p>Check your mail.</p>
      <p>If you don't see our email, it&nbsp;may&nbsp;have&nbsp;gone&nbsp;to&nbsp;spam.</p>
    </div>
    <button data-close="data-close" type="button" class="button modal__button">OK</button>
  </dialog>
</div>